body {
    background-color:#f4f2ee;
    font-family: sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} 

#navbar{
    display: grid;
    grid-template-columns: 58.2542em 33.622em;
    background-color: #fdffff;
    width: 74em;
    height: 3.467em;
    margin:0px;
    position:relative;
    left: -0.3em;
}

#left_navbar{
    display: grid;
    grid-template-columns: 0.457em 28.613em 29.184em;
    grid-template-rows: 0em 0.5em 2.727em ;
    grid-area: 1/1/2/2;
    border-width: 0.008em;
    border-style: solid;
    border-left-width: 0px;
    border-top-width: 0px;
    margin: 0px;
    height: inherit;
    border-color: #ebebeb;

}   

#search{
    grid-area: 3/2/4/3;
    display:flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: 2.147em;

}

#search div{
    background-color: #EEF3F7;
    border-width: 0.008em;
    border-color: #ebebeb;
    border-left: 0px;
    border-style: solid;
    margin-left: 0.5em;
    border-radius: 0.2em;
}

#search div img{
    width: 1.8em;
    position: relative;
    top: 0.3em;
}

#search div input{
    width: 16.188em;
    background-color: #eef3f8;
    justify-content: right;
    border: none;
    justify-self: center;
}

#logo{
    width: 2.147em;
    height: 2.147em;
    justify-content: left;

}

::placeholder{
    font-size: small;
}

#navbar_link{
    grid-area: 1/3/4/4;
    display: grid;
    grid-template-columns: repeat(6,4.910em);
    grid-row: inherit;
    
}


#navbar_link figure {
    width: 4.203em;
    margin: 0px;
    margin-top: 0.5em;

}

#navbar_link figure img{
    width: 1.933em;
    margin: 0px;
    position: relative;
    left: 1.15em;

    /* How to align them in center */
    
}

#navbar_link figure figcaption{
    font-size: small;
    text-align: center;
    color: gray;

}

#navbar_link figure figcaption img{
    width: 1.127em;
    align-self: center;

}

#navbar_link figure .network_img+figcaption{
    width: 1.127em;
    text-align: left;
    width: max-content;

}

#navbar_link figure .me_img+figcaption{
    position: relative;
    top: -0.5em;

}

#navbar_link figure .me_img+figcaption img{
    width: 1.5em;
    position: relative;
    left: 0em;

    /* Why is removing relative making difference? */
}

#right_navbar{
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: 6.153em 14.852em;
    grid-template-rows: 0.5em 2.727em ;
    border-width: 0.008em;
    height:inherit;
    border-style: solid;
    border-right-width: 0px;
    border-top-width: 0px;
    margin: 0px;
    border-color: #ebebeb;
}

#work{
    grid-area: 2/1/3/2;
}

#work img{
    width: 2em;

}  

#work figure{
    position: relative;
    top: -1.2em;
    left: -1em;
}

#work figcaption img{
    width: 1.5em;
    position: relative;
    left: 2.45em;
    top: -1.1em;
      
}

#work figcaption{
    font-size: small;
      
}

#quote{
    grid-area: 1/2/3/3;
    font-size: small;
    color:#915b0a;
}


#p1{
    margin-bottom: 0px;
}

#p2{
    margin-top: 0px ;
}

/* 
END OF CODE FOR NAVIGATION BAR

-------------

-------------

-------------

-------------
 */

 #home_page{
    display: grid;
    grid-template-columns: 0.568em 14.216em 1.748em 32.762em  22.027em;
    position: relative;
    left: -8.8em;
    
}


#min_prof{
    display: grid;
    grid-template-columns: 10.979em 14.092em;
    grid-template-rows: 0.8em 3.6em 8.02em 4.115em 3.633em 2.793em;
    font-weight:100;
    position: relative;
    left: -1.9em;
    grid-area: 1/1/2/2;
}

.top_border{
    grid-area: 2/2/3/3;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;
}

.top_border img{
    width:14.292em;

}

#profile img{
    width: 4.983em;
    border-radius: 2.4775em;
    position: relative;
    left: 4.4em;
    top: -2.60em;
    grid-area: 2/3/3/4;
}

#profile{
    grid-area: 3/2/4/3;
    background-color:#fdffff;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;

}

#con{
    grid-area:4/2/5/3;
    background-color: #fdffff;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;
}

#tools{
    grid-area: 5/2/6/3;
    background-color: #fdffff;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;

}

#items{
    grid-area: 6/2/7/3;
    background-color: #fdffff;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;
    border-radius: 0px 0px 1em 1em;
}

#profile h3{
    position: relative;
    top: -3em;
    text-align: center;
    font-weight: normal;
}


#profile h5{
    position: relative;
    top: -5em;
    color: gray;
    text-align: center;
}

#con h5{
    position: relative;
    left: 1em;
    top: 2em;
    font-style: normal;
    margin-top: -1em;
    margin-bottom: -0.1em;

 
}

#con span{

    position: relative;
    top: 0.9em;
    left: 14.5em;
    color:#1966b8;
    font-size: smaller;


}

.con_font1{
color: gray;

}

#tools h5{
    font-weight: lighter;
    font-size: 0.7em;

}

#tools .tools_font3{
    position: relative;
    margin-top: -3em;
    left: 4em;
    top: -1.4em;
    
}


#tools .tools_font1{
    position: relative;
    left: 1.7em;
    top: -1em;
    
}


#tools img{
    position: relative;
    top: -1.45em;
    width: 1.5em;
    left: 1em;
}

#items img{
    width:1.5em;
    position: relative;
    left: 1em;
    top: 0.5em;
}

#items h5{
    position: relative;
    left: 3em;
    top: -2.7em;
    font-weight: normal;

}

#bmin_prof{
    display: grid;
    grid-template-columns: 0em 14.080em;
    position: relative;
    top: 23.213em;
    left: 0.5em;
    
}

#bmin_prof1{
    grid-area: 1/2/2/3;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;
    background-color: #fdffff;
    border-radius: 1em 1em 0px 0px;
    height: 10em ;
}

#bmin_prof1 h4{
    color: #1966b8;
    position: relative;
    left: 1em;
    font-size: small;
}

#bmin_prof1 h4 span{
    position: relative;
    left: 8em;
    color: gray;
    font-size: large;
}

#bmin_prof2{
    grid-area: 2/2/3/3;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;
    background-color: #fdffff;
    border-radius: 0px 0px 1em 1em;
    position: relative;
    color: gray;
    height: 3em;
    top: -14.2em;
    
}

#bmin_prof2 p{
    position: relative;
    left: 4em;
    font-size: 0.9em;
    font-weight: bold;
}







#post{
    grid-area: 1/4/2/5;
    display: grid;
    grid-template-rows: 0.8em 8.251em 2.237em 20em;
    
}


#post_self{
    grid-area: 2/1/3/2;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;
    background-color: #fdffff;
    border-radius: 1em;
    width: 34em;
}

.post_dp{
    width:3.856em;
    border-radius: 1.928em;
    position: relative;
    top: 0.6em;
    left: 0.8em;
}

#post_self input{
    position: relative;
    left: 1em;
    top: -1em;
    width: 32.468em;
    height: 2.596em;
    border-radius: 2em;
    border-width: 0.1em;
    
}

#post_self ::placeholder{
    position: relative;
    left: 1em;
    font-weight: bold;
}


#post_self_options figure img{
    width: 2.198em;
    display: flex;
    flex: 1 1 1;
    flex-direction: row;
    position: relative;
    top: -0.2em;
    left: -0.75em;
}

#post_self_options figure{
    display: inline-block;
    text-align: right;
    font-size: 0.9em;
    font-weight: lighter;
}


#post_self figure figcaption{
    font-size: 1em;
    font-weight: bold;
    color: gray;
    position: relative;
    top: -1.5em;
    left: 2.25em;
}


.sep1{
    position: relative;
    width: 27.269em;
    left: -3em;
    top: -0.2em;
    
}

.sort{
    grid-area: 3/1/4/2;
    position: relative;
    left: 34em;
    top: -2.56em;
    font-weight:normal;
}

.sort img{
    width: 0.899em;

}

/* 
.recom figure img{
    width: 3.356em;

} */

/*     
.promoter figure figcaption{
    color: hotpink;
} */



.feed{
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;
    background-color: #fdffff;
    border-radius: 1em;
    height: 46.5em;
    position: relative;
    top: -3em;

}

.promoter_dp{
    width: 1.5em; 
    position: relative;
    left: -1.5em;
    margin: 0px;
    top: -0.5em;
    
}

.promoter figure figcaption span{
    font-size: small;
    position: relative;
    left: -2.5em;
    top: -0.8em;
    color: black;
}

.promoter figure figcaption span+span{
    font-size: small;
    color: gray;
    font-weight: lighter;
}

.dots{
    width: 2em;
    position: relative;
    left: 30.5em;
    top: -4em;
}

.sep2{
    position: relative;
    top: -4.2em;
    width: 35em;
    border-color: #ebebeb;
    border-style: solid;
    border-width: 0.025em;
}

#post_self .author_dp {
    position: relative;
    top: -4.5em;
    left: -1.7em;
    width: 3em; 

}

.author figure figcaption h5{
    color: black;
    position: relative;
    top: -8.5em;
}

.feed .author figure figcaption h5+img{
    position: relative;
    top: -9.5em;
    left: 6.5em;
    width: 1em;
}

.feed .author figure figcaption h5+img+span{
    position: relative;
    top: -9.5em;
    left: 7em;
    font-weight: normal;
}

.promote figcaption{
    position: relative;
    top: 5em;
}




.feed .author figure figcaption h6{
    position: relative;
    top: -16.5em;
    left: 0em;
    font-weight: normal;
}


.feed .author figure figcaption h6+h6{
    position: relative;
    top: -18.5em;
    left: 0em;
    font-weight: normal;
}



.feed .author figure figcaption h6+h6 img{
    position: relative;
    top: 0em;
    left: 0em;
    width: 1em;
}



.feed .author figure figcaption h6+img{
    position: relative;
    top: -15em;
    left: 1.5em;
    width: 1.5em;
}

.share{
    position: relative;
}

.author h3{
    position: relative;
    top: -18em;
    left: 25em;
    color: #1966b8;
    font-size: large;
    font-weight: bold;
}

.content{
    background-color: #fdffff;
    position: relative;
    top: -20em;
    height: 32.5em;

}


.content .ac_content img{
    width: 34em;
}

.content .ac_content+img{
    position: relative;
    width: 3em;
    left: 1em;
}


.content .ac_content+img+span{
    position: relative;
    top: -0.5em;
    left: 1.5em;
    width: 3em;
    font-size: small;
    font-weight: lighter;
}


.content .ac_content+img+span+span{
    position: relative;
    top: -0.5em;
    left: 8em;
    width: 3em;
    font-size: small;
    font-weight: lighter;
}

.content .ac_content+img+span+span img{
    width: 1em;
}

.content .ac_content{
    text-align: center;
}

.content+hr{
    width: 35em;
    position: relative;
    top: -17.5em;
    border-color: #ebebeb;
    border-style: solid;
    border-width: 0.02em;
}

#post .feed .share .promote .promote_like{
    position: relative;
    top: -16.5em;
}

.promote{
    position: relative;
    top: -1em;
}


#post .feed .share .promote figcaption{
    position: relative;
    top: -2em;
    font-weight: bold;
    color: grey;

}

#post .feed .share .promote .promote_comment{
    position: relative;
    top: -20.9em;
    left: 7em;
}

#post .feed .share .promote .promote_share{
    position: relative;
    top: -25.3em;
    left: 17em;
}

#post .feed .share .promote .promote_send{
    position: relative;
    top: -29.7em;
    left: 24em;
}

.promote .promote_like figure img{
    width: 2.198em
}

.feed .share .promote figure img{
    width:2.198em;
}


#home_page{
    display: grid;
    grid-template-columns: 8.568em 14.216em 1.748em 35.262em  12.027em;
    
}



#news{
    display: grid;
    grid-template-rows: 0.883em 17.587em 1em 15.482em 1em;
    grid-area: 1/5/2/6;
    
}

#ac_news{
    grid-area: 2/2/3/3;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;
    background-color: #fdffff;
    border-radius: 1em;
    width: 20em;
}

#hiring{
    grid-area: 4/2/5/3;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;
    background-color: #fdffff;
    border-radius: 1em;
    width: 20em;
}

#footer{
    grid-area: 5/2/6/3;
    position: relative;
    top: 1em;
    text-align: center;
}

#ac_news h4{
    position: relative;
    top: -1.3em;
    left: 0.75em;

}

#ac_news h4 img{
    position: relative;
    top: 0.4em;
    left: 10em;
    width: 1.5em;
}

.bullet{
    width: 1.6em;
    position: relative;
    left: -2.2em;
    top: -2em;

}

#ac_news figure figcaption h5{
    position: relative;
    top: -5.5em;
    left: -0.5em;
   
}


#ac_news figure figcaption h6{
    font-weight: normal;
    position: relative;
    top: -8.9em;
    left: -0.5em;
   
}


#ac_news figure figcaption h6 img{
    width: 0.8em;
   
}

#ac_news figure{
    position: relative;
    top: 5em;
    margin-top: -5em;
    margin-bottom: -5em;
}

#ac_news .more{
    position: relative;
    top: 3em;
    left: 2em;
    color: grey;
}

#ac_news .more img{
    position: relative;
    left: 0em;
    top: 0.2em;
}

#hiring img{
    width: 18.75em;
    position: relative;
    left: 0.6em;
}

#footer h6{
    font-weight: normal;
    font-size: 0.7em;
    color: gray;
}

#footer h6 img{
    width: 1em;
    position: relative;
    top: 0.1em;
}

.h1_1{
    position: relative;
    left:-8em;
    top: -1.5em;
}

.h1_2{
    position: relative;
    left:-1em;
    top: -5em;
}

.h1_3{
    position: relative;
    left:7em;
    top: -8.5em;
}



.h2_1{
    position: relative;
    left:-3em;
    top: -9em;
}

.h2_2{
    position: relative;
    left:5.5em;
    top: -12.5em;
}


.h3_1{
    position: relative;
    left:-5.5em;
    top: -12.9em;
}

.h3_2{
    position: relative;
    left:4em;
    top: -16.4em;
}


.h4_1{
    position: relative;
    left:-2.6em;
    top: -16.4em;
}

.h4_2{
    position: relative;
    left:4em;
    top: -19.9em;
}

.end{
    position: relative;
    top: -18em;
    font-weight: normal;
}
.end img{
    width: 4em;
    position: relative;
    top: 0.5em;
}

#fixed_msg{
    position: fixed;
    bottom: 0px ;
    right: 0px;
    border-width: 0.01em;
    border-color: #ebebeb;
    border-style: solid;
    background-color: #fdffff;
    border-radius: 0.5em;
    width: 18.482em;
    height:3.5em;

}

#fixed_msg img{
    width: 1.5em;
    position: relative;
    left: 12.5em;
    top: -5.5em;

}

#fixed_msg .msg_fix_dp{
    width: 2.5em;
    position: relative;
    top: 0.5em;
    left: 0.5em;
}

/* Not working
#fixed_msg+img{
    width: 15em;
} */

#fixed_msg h5{
    position: relative;
    top: -3em;
    left: 3.5em;
}

/* ////////// *//* ////////// *//* ////////// *//* ////////// *//* ////////// *//* ////////// *//* ////////// *//* ////////// */



#index_page{
    display: flex;
    flex-direction:row;
    position: relative;
    top: -0.5em;
    height: fit-content;
}


.blank_space{
    flex: 1 1 auto;
    width: 0.1em;
    margin: 0px;
    border: green;
    border-style: solid;
}

#main{
    flex: 2 1 auto;
    width: 55em;
    background-color: #F3F2EE;
}

.blank_space1{
    background-color: #FFFFFF;
    height: 3.467em;
    border:#ebebeb;
    border-style: solid;
    border-width: 0.008em;
    border-top-width: 0em;
    border-left-width: 0em;
    border-right-width: 0em;
}

#index_page .blank_space2{
    background-color: #F3F2EE;
    width: 5em;
    height: 50vh;
}

@media screen and (max-width: 1200px) {
    #index_page .blank_space{
        display: none;
    }
}
